<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prefanatic.wallpapersfromleagueoflegends">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.AssetActivity"/>

        <service android:name=".WallpaperSlideshowService"
            android:enabled="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" >
                </action>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" >
            </meta-data>
        </service>

        <service android:name=".MuzeiProviderService"
            android:label="League Label"
            android:description="@string/app_name"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource"/>
            </intent-filter>
            <meta-data android:name="color" android:value="#fa0"/>
        </service>

    </application>

</manifest>
